<div class="card">
    <div class="card-header">
        <div class="media align-items-center">
            <div class="media-body">
                <h4 class="card-title">Suscripciones</h4>
                <p class="card-subtitle">Tus suscripciones</p>
            </div>
            <!-- <div class="media-right">
                <a class="btn btn-sm btn-primary" href="student-my-courses.html">My courses</a>
            </div> -->
        </div>
    </div>



    <ul class="list-group list-group-fit mb-0" style="z-index: initial;">

        <li class="list-group-item" style="z-index: initial;">
            <div class="row">
                <div class="d-flex align-items-center col-3">
                    <a href="#" class="avatar avatar-4by3 avatar-sm mr-3 ">
                        <img src="assets/images/products/suscripciones/1.jpg" alt="course" class="avatar-img rounded suscripcion-img">
                    </a>
                    <div class="flex">
                        <a href="student-take-course.html" class="text-body"><strong>Sillon</strong></a>
                        <div class="d-flex align-items-center">
                            <div class="progress" style="width: 100px;">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <small class="text-muted ml-2">25%</small>
                        </div>
                    </div>
                    <!-- <div class="dropdown ml-3 margen-sup">
                        <a href="#" class="dropdown text-muted" data-caret="false" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-136px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="student-take-course.html">Continue</a>
                        </div>
                    </div> -->
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-outline-primary margen-izq margen-sup-boton">Desuscribirme</button>
                </div>

            </div>
        </li>

        <li class="list-group-item" style="z-index: initial;">
            <div class="row">
                <div class="d-flex align-items-center col-3">
                    <a href="student-take-course.html" class="avatar avatar-4by3 avatar-sm mr-3">
                        <img src="assets/images/products/suscripciones/2.jpg" alt="course" class="avatar-img rounded suscripcion-img">
                    </a>
                    <div class="flex">
                        <a href="student-take-course.html" class="text-body"><strong>Sillon</strong></a>
                        <div class="d-flex align-items-center">
                            <div class="progress" style="width: 100px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <small class="text-muted ml-2">100%</small>
                        </div>
                    </div>
                    <!-- <div class="dropdown ml-3 margen-sup">
                        <a href="#" class="dropdown text-muted" data-caret="false" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-136px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="student-take-course.html">Continue</a>
                        </div>
                    </div> -->
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-outline-primary margen-izq margen-sup-boton">Desuscribirme</button>
                </div>
            </div>
        </li>

        <li class="list-group-item" style="z-index: initial;">
            <div class="row">
                <div class="d-flex align-items-center col-3">
                    <a href="student-take-course.html" class="avatar avatar-4by3 avatar-sm mr-3">
                        <img src="assets/images/products/suscripciones/3.jpg" alt="course" class="avatar-img rounded suscripcion-img">
                    </a>
                    <div class="flex">
                        <a href="student-take-course.html" class="text-body"><strong>Sillon</strong></a>
                        <div class="d-flex align-items-center">
                            <div class="progress" style="width: 100px;">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <small class="text-muted ml-2">80%</small>
                        </div>
                    </div>
                    <!-- <div class="dropdown ml-3 margen-sup">
                        <a href="#" class="dropdown text-muted" data-caret="false" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-136px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="student-take-course.html">Continue</a>
                        </div>
                    </div> -->
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-outline-primary margen-izq margen-sup-boton">Desuscribirme</button>
                </div>
            </div>

        </li>

    </ul>
</div>